<div class="sidebar" data-color="orange" data-image="">
    
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <p style="font-size: 20px;" align="center">BeyondSkool</p>
                </li>
            </ul>
            <div class="logo">
            </div>
            <ul class="nav treeview">
            <li id="pending-centres" ui-sref-active="active">
                    <a ui-sref="pendingCentres">
                        <i class="pe-7s-attention"></i>
                        <p>Pending Centres</p>
                    </a>
              </li>               
                <li id="city" ui-sref-active="active">
                    <a ui-sref="cities">
                        <i class="pe-7s-map-2"></i>
                        <p>Cities</p>
                    </a>
                </li>
                <li id="area" ui-sref-active="active">
                    <a ui-sref="areas">
                        <i class="pe-7s-map-marker"></i>
                        <p>Areas</p>
                    </a>
                </li>              
                <li id="activites" ui-sref-active="active">
                    <a ui-sref="activities">
                        <i class="pe-7s-joy"></i>
                        <p>Activites</p>
                    </a>
                </li>
                <!-- <li id="camp">
                    <a >
                        <i class="pe-7s-graph1"></i>
                        <p>Camp</p>
                    </a>
                </li> -->
                <li id="centres" ui-sref-active="active">
                    <a ui-sref="centres">
                        <i class="pe-7s-culture"></i>
                        <p>Centres</p>
                    </a>
                </li>
                <li id="user" ui-sref-active="active">
                    <a ui-sref="users">
                        <i class="pe-7s-user"></i>
                        <p>Users</p>
                    </a>
                </li>
                <li id="booking" ui-sref-active="active">
                    <a  ui-sref="bookings">
                        <i class="pe-7s-date"></i>
                        <p>User Bookings</p>
                    </a>
                </li>
                <li id="payment" ui-sref-active="active">
                    <a ui-sref="payments">
                        <i class="pe-7s-cash"></i>
                        <p>Package Payments</p>
                    </a>
                </li>                
                <li id="reviews">
                    <a ui-sref="userReviews">
                        <i class="pe-7s-like2"></i>
                        <p>Reviews</p>
                    </a>
                </li>
            </ul>
    	</div>
     </div>