<div class="footerContentWrap">
				<footer class="footerWrap footerStyleLight contactFooterWrap">
					<div style="padding: 31px 0 16px;"class="main contactFooter">
						<section>
							<!-- <div class="logo">
								<a ui-sref="home">
									<img src="app/angular_resources/images/logo-top3.png" alt="">
								</a>
							</div> -->
							<div class="contactAddress">								
								<address>
									<b>BeyondSkool Innovations Private Limited</b><br>
								<span class="sc_icon icon-home theme_accent"></span>Innov8, 20 Main Road, Opposite Starbucks, Koramangala,<br>
                                Bengaluru - 560034</address>
                                <span class="sc_icon icon-phone theme_accent"></span>Ring us at : +91 99726 30254<br>
                                    <span class="sc_icon icon-email theme_accent"></span>Mail: 
                                    <a href="mailto:hello@beyondskool.com">hello@beyondskool.com</a>
                                <!-- <address>
									
                                    </address> -->
							</div>
							
							<!-- <div class="contactShare">
								<ul>
								<li>
									<a class="social_icons social_facebook facebook_image" target="_blank" href="https://www.facebook.com/BeyondSkool/">
										<span></span>
									</a>
								</li>
								
								<li>
									<a class="social_icons social_twitter twitter_image" target="_blank" href="https://twitter.com/Beyond_Skool">
										<span></span>
									</a>
								</li>
                                <li>
									<a class="social_icons social_pinterest pinterest_image" target="_blank" href="https://www.instagram.com/beyondskool/">
										<span></span>
									</a>
								</li>
								
							</ul>
							</div> -->
						</section>
					</div>
				</footer>
				<div class="upToScrollWrapper">
					<div class="upToScroll">
						<a href="#" class="scrollToTop" title="Back to top">
						</a>
					</div>
				</div>
				<div class="copyWrap">
					<div class="copy main">
						<div class="copyright">
							<a ui-sref="privacyPolicy">Privacy Policy</a> | 
							<a ui-sref="termsConditions">Terms & Conditions</a> | 
							<a ui-sref="refundPolicy">Refund Policy</a> |
							<a ui-sref="home">BeyondSkool Innovations Private Limited</a> &copy; 2017 All Rights Reserved.
						</div>
						<div class="copy_socials socPage">
							<ul>
								<li>
									<a class="social_icons social_facebook facebook_image" target="_blank" href="https://www.facebook.com/BeyondSkool/">
										<span></span>
									</a>
								</li>
								
								<li>
									<a class="social_icons social_twitter twitter_image" target="_blank" href="https://twitter.com/Beyond_Skool">
										<span></span>
									</a>
								</li>
                                <li>
									<a class="social_icons social_pinterest pinterest_image" target="_blank" href="https://www.instagram.com/beyondskool/">
										<span></span>
									</a>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>