<header class="noFixMenu menu_right without_user_menu">
				<div class="topWrapFixed"></div>
				<div class="topWrap">
					<div class="mainmenu_area">
						<div class="main with_logo_left">
							<div class="logo logo_left">
								<a href="">
									<img src="app/angular_resources/images/logo-top2.png" class="logo_main" alt="">
									<img src="app/angular_resources/images/logo-top2.png" class="logo_fixed" alt="">
									<span class="logo_slogan"></span>
								</a>
							</div>							
							<a href="#" class="openResponsiveMenu">Menu</a>
							<nav role="navigation" class="menuTopWrap topMenuStyleLine">
								<ul id="mainmenu" class="">
									<li class="menu-item current-menu-ancestor">
										<a href="">Home</a>
										
									</li>
									<li class="menu-item">
										<a href="">Packages</a>
										
									</li>
                                    
                                    <li class="menu-item">
										<a href="">Activities</a>
										
									</li>
									
									<li class="menu-item">
										<a href="">Camps</a>
									</li>
                                    
                                    <li class="menu-item">
										<a href="">Kidstore</a>
									</li>
									
                                    <li class="menu-item">
										<a href="">Login</a>
									</li>
                                    
                                    <li class="menu-item">
										<a href="">Join us</a>
									</li>
                                    
                                    <li class="menu-item">
										<a href="">Contact Us</a>
										
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
	</header>