<div id="topOfPage" class="topTabsWrap">
				<div class="main">
					<div class="speedBar">
						<a class="home" ui-sref="home">Home</a>
						<span class="breadcrumbs_delimiter">
							<i class="icon-right-open-mini"></i>
						</span>
						<span class="current">Refund Policy</span>
					</div>
					<h3 class="pageTitle h3">Refund Policy</h3>
				</div>
			</div>
			<div class="mainWrap without_sidebar">
				<div class="main">
					<div class="content">
						<section class="post no_margin post_format_standard postAlter page type-page">
							<article class="post_content">
								<div class="post_text_area">
									<h2 class="sc_title sc_title_regular">Returns</h2>
									<p>Since it's a Service Subscription Package, our policy lasts 3 days. If 3 days have gone by since your purchase, unfortunately we can't offer you a refund or exchange.</p><p>To be eligible for a refund, you should not have availed any of the activities under your package, must be unused and in the same condition that you received it. It must also be in the original packaging.</p><p>To complete your return, we require a receipt or proof of purchase.</p><br>
									<h2 class="sc_title sc_title_regular">Refunds (if applicable)</h2>
									<p>Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.</p>
									<p>If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days. </p>
									<h2 class="sc_title sc_title_regular">Late or missing refunds (if applicable)</h2>
									<p>If you haven't received a refund yet, first check your bank account again.Then contact your credit card company, it may take some time before your refund is officially posted.</p>
									<p>Next contact your bank. There is often some processing time before a refund is posted.</p>
									<p>If you've done all of this and you still have not received your refund yet, please contact us at </p><h6><a href="mailto:contact@beyondskool.com">contact@beyondskool.com</a></h6><p></p>
								</div>
							</article>
						</section>
					</div>
				</div>
			</div>
			<div ng-include src="'app/modules/commons/views/footer.html'"></div>