<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<h3 class="title">View Centre</h3>
				<p style="float: right;">
					<a class="btn btn-primary btn-fill" ng-click="updateCentreButton(centreInfo)">Update</a>
					<a class="btn btn-success btn-fill" ng-click="goBack()">Go Back</a>
				</p>
				<table class="table">
					<tbody>
						<tr>
							<th>ID</th>
							<td>{{centreInfo.id}}</td>
						</tr>
						<tr>
							<th>Center Name</th>
							<td>{{centreInfo.centreName}}</td>
						</tr>
						<tr>
							<th>Owner Name</th>
							<td>{{centreInfo.ownerName}}</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>{{centreInfo.mailId}}</td>
						</tr>
						<tr>
							<th>Description</th>
							<td>{{centreInfo.description}}</td>
						</tr>
						<tr>
							<th>Contact No</th>
							<td>{{centreInfo.contactNo}}</td>
						</tr>						
						<tr>
							<th>City Name</th>
							<td>{{centreInfo.cityName}}</td>
						</tr>
						<tr>
							<th>Area Name</th>
							<td>{{centreInfo.areaName}}</td>
						</tr>
						<tr>
							<th>Address</th>
							<td>{{centreInfo.address}}</td>
						</tr>
						<tr>
							<th>Status</th>
							<td>{{centreInfo.status}}</td>
						</tr>
					</tbody>
				</table>
				<br>
				<h3>Images</h3>
				<!-- <div class="row">
				<div ng-repeat="image in centreInfo.imagePath">
				<div class="col-md-3" style="margin-right:50px;">
					
						</div>
				</div>
				</div> -->				
				<div class="row">
					<div ng-repeat="image in centreInfo.imagePath" class="col-lg-3 col-md-4 col-xs-6 thumb">
							<a class="thumbnail" data-toggle="modal" data-target="#myModal_{{$index}}"> <img class="img-responsive"
								style="width: 200px;height: 200px;" ng-src="../uploads/{{centreInfo.centreName}}_{{centreInfo.imageDirId}}/{{image}}"
								height="250" alt="{{centreInfo.centreName}}">
							</a>
					</div>
				</div>
				</div>

				<br />
				<h3 class="title">Activites List</h3>
				<br>

				<div id="w1" class="grid-view">
					<div class="summary">
						Showing <b>{{centreActivities.length}}</b> items.
					</div>
					<table class="table">
						<thead>
							<tr>
								<th><a>#</a></th>
								<th><a>Days</a></th>
								<th><a data-sort="in_time">Timings (From)</a></th>
								<th><a data-sort="out_time">Until</a></th>
								<th><a>Activity Name</a></th>
								<th><a>From Age</a></th>
								<th><a>To Age</a></th>
								<th><a data-sort="amount">Amount</a></th>
								<th><a>Total Slots</a></th>
							</tr>
						</thead>
						<tbody ng-repeat="activity in centreActivities">
							<tr>
								<td>{{$index+1}}</td>
								<td>{{activity.dayData}}</td>
								<td>{{activity.inTime | date:'hh:mm a'}}</td>
								<td>{{activity.outTime | date:'hh:mm a'}}</td>
								<td>{{activity.activityName}}</td>
								<td>{{activity.fromAge}}</td>
								<td>{{activity.toAge}}</td>
								<td>{{activity.amount}}</td>								
								<td>{{activity.slotsRemaining}}</td>
							</tr>							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-repeat="image in centreInfo.imagePath">
<div class="modal fade" data-backdrop="false" id="myModal_{{$index}}" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<img ng-src="../uploads/{{centreInfo.centreName}}_{{centreInfo.imageDirId}}/{{image}}"
								height="500" width="500" alt="{{centreInfo.centreName}}">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>