<div ng-include src="'app/modules/commons/views/sidebar.html'"></div>
<div class="main-panel">
	<div ng-include src="'app/modules/commons/views/topbar.html'"></div>
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="header">
							<h3 class="title">Package Payments</h3>							
						</div>
						<div class="content">
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
										<div id="w0" class="grid-view">
										<div ng-show="currentPage === 1 && paymentData.length < entryLimit">
												Showing <b>{{currentPage}}</b> to <b>{{paymentData.length}}</b>
												items of total <b>{{paymentData.length}}</b> items.
										</div>
											<div ng-show="currentPage === 1 && paymentData.length >= entryLimit">
												Showing <b>{{currentPage}}</b> to <b>{{entryLimit}}</b>
												items of total <b>{{paymentData.length}}</b> items.
											</div>
											<div ng-show="currentPage !== 1 && currentPage !== noOfPages"
												class="summary">
												Showing <b>{{(entryLimit*(currentPage-1)) + 1}}</b> to <b>{{(entryLimit*(currentPage))%totalItems}}</b>
												items of total <b>{{paymentData.length}}</b> items.
											</div>

											<div ng-show="currentPage === noOfPages && currentPage !== 1" class="summary">
												Showing <b>{{(entryLimit*(currentPage-1)) + 1}}</b> to <b>{{totalItems}}</b>
												items of total <b>{{paymentData.length}}</b> items.
											</div>
											<div class="slide pull-right">
												<ul uib-pagination total-items="totalItems"
													items-per-page="entryLimit" ng-model="currentPage"
													max-size="maxSize" class="pagination-sm paginationMargin"
													boundary-links="true"></ul>
											</div>
											<div class="myClear"></div>
											<table class="table">
												<thead>
													<tr>
														<th><a>#</a></th>
														<th><a>Created At</a></th>
														<th><a>Email</a></th>
														<th><a>Parent Name</a></th>
														<th><a>Contact No</a></th>
														<th><a>Package</a></th>
														<th><a>Payment Method</a></th>														
														<th><a>Amount</a></th>
														<th><a>Status</a></th>
													</tr>
													<tr id="w0-filters" class="filters">
														<td>&nbsp;</td>
														<td><input type="text" class="form-control" ng-model="search.date"
															name="TblPaymentSearch[CreatedAt]"></td>
														<td><input type="text" class="form-control" ng-model="search.email"
															name="TblPaymentSearch[Email]"></td>
														<td>&nbsp;</td>
														<td>&nbsp;</td>
														<td><input type="text" class="form-control" ng-model="search.packageName"
															name="TblPaymentSearch[Package]"></td>
														<td><input type="text" class="form-control" ng-model="search.paymentMethod"
															name="TblPaymentSearch[PaymentMethod]"></td>
														<td><input type="text" class="form-control" ng-model="search.amount"
															name="TblPaymentSearch[Amount]"></td>
														<td><input type="text" class="form-control" ng-model="search.status"
															name="TblPaymentSearch[Status]"></td>
													</tr>
												</thead>
												<tbody ng-repeat="payment in (paymentDataResults = (paymentData | filter: search : strict | limitTo: entryLimit : (currentPage-1)*entryLimit))">
													<tr>
														<td>{{payment.id}}</td>
														<td>{{payment.date}}</td>
														<td><a href="mailto:{{payment.email}}">{{payment.email}}</a></td>
														<td>{{payment.userName}}</td>
														<td>{{payment.contactNo}}</td>
														<td>{{payment.packageName}}</td>
														<td>{{payment.paymentMethod}}</td>							
														<td>{{payment.amount}}</td>
														<td>{{payment.status}}</td>
													</tr>													
												</tbody>
											</table>
											<h4 ng-show="paymentDataResults.length == 0" class="text-center">
											No Result Found</h4>
											<div class="slide pull-right">
												<ul uib-pagination total-items="totalItems"
													items-per-page="entryLimit" ng-model="currentPage"
													max-size="maxSize" class="pagination-sm paginationMargin"
													boundary-links="true"></ul>
											</div>
											<div class="myClear"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
	<div ng-include src="'app/modules/commons/views/footer.html'"></div>
</div>