<div id="topOfPage" class="topTabsWrap">
				<div class="main">
					<div class="speedBar">
						<a class="home" ui-sref="home"">Home</a>
						<span class="breadcrumbs_delimiter">
							<i class="icon-right-open-mini"></i>
						</span>
						
						<span class="current">Contact Us</span>
					</div>
					<h3 class="pageTitle h3">Contact Us</h3>
				</div>
			</div>

			<div class="mainWrap without_sidebar">
				<div class="main">
					<div class="content">
						<section class="post no_margin post_format_standard postAlter page type-page">
							<article class="post_content">
								<div class="post_text_area">

									<section class="no_padding">
										<div class="container">

											<div class="columnsWrap sc_columns custom_columns sc_columns_count_2">
												<div class="columns1_2 sc_column_item sc_column_item_1 odd first">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.576507307117!2d77.61190851437485!3d12.934918090879966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae144e057cb567%3A0x84d4b41d41036107!2sInnov8!5e0!3m2!1sen!2sin!4v1501857648459" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
												<div class="columns1_2 sc_column_item sc_column_item_2 even">
													<h1 class="sc_title sc_title_regular">Stay in Touch</h1>
													<div class="">
														<p>"To be in your children's memories tomorrow, you have to be in their lives today"</p>
                                                        
                                                        <div class="contactAddress">
								
								<address>
									<b>BeyondSkool Innovations Private Limited</b><br><br />
									<span class="sc_icon icon-home theme_accent"></span><b>Activity Centre Address: </b><br />Little Elly<br />
338, B Block, Aecs Layout, Kundalahalli,<br />
Close to CMRIT college & Sansar supermarket, <br />Bangalore, Karnataka 560037<br /><br />
								<b>Office Address:</b> Innov8, 20 Main Road, Opposite Starbucks, Koramangala,                            
                                Bengaluru, Karnataka 560025<br><br />
                                </address>
                                <address>
									<span class="sc_icon icon-phone theme_accent"></span>Ring us at : +91 99726 30254 <br>
                                    <span class="sc_icon icon-email theme_accent"></span>Mail: hello@beyondskool.com
                                    </address>
							</div>
													</div>
												</div>
											</div>

										</div>
									</section>

									<section class="no_padding">
										<div class="container">
											<div class="columnsWrap sc_columns sc_columns_count_3 margin_top_middle margin_bottom_middle">
												<div class="columns2_3 sc_column_item sc_column_item_1 odd first span_2">
													<div class="sc_contact_form sc_contact_form_contact contact_form_1">
														<h1 class="title">Send Us a Message</h1>													   
													        <div class="columnsWrap">
																<div class="columns1_3">
																	<label class="required" for="contact_form_username">Name</label>
													                <input type="text" ng-model="name" name="name" id="contact_form_username">
													                <h5 ng-show="emptyName" class="sc_title sc_title_regular" style="color: #ea624c;">Name is Invalid</h5>
													            </div>
													            <div class="columns1_3">
													            	<label class="required" for="contact_form_email">E-mail</label>
													                <input type="text" name="email" ng-model="email" id="contact_form_email">
													                <h5 ng-show="emptyEmail" class="sc_title sc_title_regular" style="color: #ea624c;">Email is invalid</h5>
													            </div>
													            <div class="columns1_3">
													            	<label class="required" for="contact_form_subj">Subject</label>
													                <input type="text" name="subject" ng-model="subject" id="contact_form_subj">
													                <h5 ng-show="emptySubject" class="sc_title sc_title_regular" style="color: #ea624c;">Subject is empty</h5>
													            </div>
													        </div>
													        <div class="message">
																<div class="">
																	<label class="required" for="contact_form_message">Your Message</label>
													                <textarea  id="contact_form_message" ng-model="message" class="textAreaSize" name="message"></textarea>
													            	<h5 ng-show="emptyMessage" class="sc_title sc_title_regular" style="color: #ea624c;">Message is empty</h5>
													            
													            </div>
													        </div>
															<div class="sc_contact_form_button">
																<div class="squareButton sc_button_size sc_button_style_global global ico">
																	<button type="submit" ng-click="submitForm(name,email,subject,message)" name="contact_submit" class="contact_form_submit icon-comment-1">Send Message</button>
																</div>
																<div ng-show="sendingMail" class="alert alert-info col-md-5">
  																Sending your message. Please wait.
															</div>
															</div>													       
													</div> 
												</div>
												<!-- <div class="columns1_3 sc_column_item sc_column_item_3 odd after_span_2">
													<h1 class="sc_title sc_title_regular">Business hours</h1>
													<div class="work_days">
														<p>
															Monday &#8211; Friday 9am to 5pm<br />
															Saturday &#8211; 9am to 2pm<br />
															Sunday &#8211; Closed
														</p>
													</div>
												</div> -->
											</div>
										</div>
									</section>
								</div>
							</article>
						</section>
					</div>
				</div>
			</div>
<div ng-include src="'app/modules/commons/views/footer.html'"></div>