<div class="mainWrap without_sidebar">
		<div class="main">
			<div class="content">
				<section class="no_padding">
					<div class="container">								
						<div class="columnsWrap col-md-7  margin_bottom_middle">
						<p style="float: right;">
								<button class="btn btn-success btn-fill" style="margin-top:20px;"ng-click="goBack()">Go Back</button>
						</p>
						<h3 class="pageTitle h3">Edit Centre</h3>
						
						<div class="bs-center-form">
							<div class="form-group field-bscenter-center_name required">
						<label class="control-label" for="bscenter-center_name">Center Name <span class="label label-danger">Cannot Edit</span></label>
							<input disabled ng-model="centreName" value="" type="text" id="bscenter-center_name"
							class="form-control" maxlength="250">
						<div class="help-block"></div>
						</div>
						<div class="form-group field-bscenter-owner_name required">
						<label class="control-label" for="bscenter-owner_name">Owner Name</label> 
							<input type="text" ng-model="ownerName" id="bscenter-owner_name"
							class="form-control">
						<div class="help-block"></div>
					</div>
					<div class="form-group field-bscenter-mail_id required">
						<label class="control-label" for="bscenter-mail_id">Email <span class="label label-danger">Cannot Edit</span></label>
						<input disabled type="text" ng-model="emailId" id="bscenter-mail_id" class="form-control">
						<div class="help-block"></div>
					</div>
					
					<div class="form-group field-bscenter-contact_no required">
						<label class="control-label" for="bscenter-contact_no">Contact No </label> 
							<input type="text" id="bscenter-contact_no" ng-model="contactNo" class="form-control">
						<div class="help-block"></div>
					</div>
					<div class="form-group field-bscenter-description">
						<label class="control-label" for="bscenter-description">Description</label>
						<textarea id="bscenter-description" ng-model="description" class="form-control" rows="6"></textarea>
						<div class="help-block"></div>
					</div>					
					
					<div class="form-group field-bscenter-city_id">
						<label class="control-label" for="bscenter-city_id">City <span class="label label-danger">Cannot Edit</span></label> 
						<select disabled ng-model="city" class="form-control">						
							<option value="{{city}}">{{city}}</option>
						</select>

						<div class="help-block"></div>
					</div>
					<div class="form-group field-bscenter-area_id">
						<label class="control-label" for="bscenter-area_id">Area <span class="label label-danger">Cannot Edit</span></label> 
						<select disabled ng-model="area" class="form-control">
						<option value="{{area}}">{{area}}</option>
						</select>

						<div class="help-block"></div>
					</div>
					<div class="form-group field-bscenter-address required">
						<label class="control-label" for="bscenter-address">Address</label>
						<textarea id="bscenter-address" ng-model="address" class="form-control" rows="6"></textarea>
						<div class="help-block"></div>
					</div>
					<div class="form-group">
						<button ng-click="updateCentreDetails()" class="btn btn-success btn-fill">Update Details</button>
						</div>
						</div>
					</div>
					</div>
				</section>
			</div>
		</div>
	</div>