<div class="widgetTabs ui-tabs ui-widget ui-widget-content ui-corner-all">
	<div id="topOfPage" class="topTabsWrap">
		<div class="main">
			<div class="speedBar">
				<a class="home" ui-sref="home">Home</a> <span class="breadcrumbs_delimiter"><i class="icon-right-open-mini"></i>
				</span> <span class="current">My Centre</span>
			</div>
			<h3 class="pageTitle h3">My Centre Area</h3>
		</div>
	</div>
	<div class="mainWrap without_sidebar" ng-show="myCentreState === 'display' && showCentre">
		<div class="main">
			<div class="content">
				<section class="no_padding">
					<div class="container">
					<div ng-show="centreData.status === 'Inactive' " class="margin_top_middle alert alert-danger">
 							Your account is under currently Inactive. Fill out your profile and activity details after which the admin will activate your account.
						</div>
						<div ng-show="centreData.status === 'Moderation' " class="margin_top_middle alert alert-danger">
 							Your account is under moderation. Once admin approves your account, this message will disappear.
						</div>			
						<div class="columnsWrap col-md-4  margin_bottom_middle">
						<h3 class="pageTitle h3">Profile Details</h3>						
							<div class="columns2_3 sc_column_item sc_column_item_1 odd first span_2">
								<div class="sc_contact_form">									
									<div><b>Name: </b>{{centreData.ownerName}}</div>
									<div><b>Email ID: </b>{{centreData.mailId}}</div>
									<div><b>Contact No: </b>{{centreData.contactNo}}</div>
								</div>
							</div>				
						</div>
						<div ng-show="centreData.centreName !== null" class="columnsWrap col-md-9  margin_bottom_middle">
						<h3 class="pageTitle h3">Centre Details</h3>						
							<div class="columns2_3 sc_column_item sc_column_item_1 odd first span_2">
								<div class="sc_contact_form">									
									<div><b>Centre Name: </b>{{centreData.centreName}}</div>
									<div><b>Centre Description: </b>{{centreData.description}}</div>
									<div><b>Centre Location: </b>{{centreData.cityName}} - {{centreData.areaName}}</div>
									<div><b>Centre Address: </b>{{centreData.address}}</div>
									<button type="button" style="margin-top: 20px;" ng-click="getActivityDetails()" class="btn btn-info">Activity Details</button>
										<button type="button" ng-click="editCentreButton()" style="margin-top: 20px;" class="btn btn-danger">Edit Centre Details</button>
										<a ui-sref="viewCentre({ centreId: centreData.id, centreName: centreData.centreName.split(' ').join('-').toLowerCase()})" type="button" style="margin-top: 20px;" class="btn btn-warning">My Profile</a>
										<button type="button" ng-click="addActivityButton()" style="margin-top: 20px;" class="btn btn-success">Add Activity Class</button>
										<button ng-click="centreImagesButton()" type="button"  style="margin-top: 20px;" class="btn btn-info">Edit Centre Images</button>										
								</div>
							</div>				
						</div>
						<div class="columnsWrap col-md-7  margin_bottom_middle">												
							<div class="columns2_3 sc_column_item sc_column_item_1 odd first span_2">
								<button ng-show="centreData.centreName === null || centreData.activityList.length == 0" ng-click="createButton()" type="button" style="margin-top: 20px;" class="btn btn-success">Create Centre</button>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	
	<div class="mainWrap without_sidebar"
		ng-show="myCentreState === 'activities'">
		<div class="main">
			<div class="content">
				<section class="no_padding">
					<div class="container">
						<div class="columnsWrap  margin_bottom_middle">
							<p style="float: right;">
								<button class="btn btn-success btn-fill"
									style="margin-top: 20px;" ng-click="goBack()">Go Back</button>
							</p>
							<h3 class="pageTitle h3">Activity Details</h3>
							<div class="sc_column_item sc_column_item_1 odd first span_2">
							<p class="alert alert-warning col-md-6" ng-show="centreActivities.length == 0">No Activity Classes added so far</p>
								<div ng-show="centreActivities.length>0" class="sc_contact_form">
									<table class="table table-striped">
										<thead>
											<tr>
								<th><a>#</a></th>
								<th><a>Days</a></th>
								<th><a data-sort="in_time">From - To (Time)</a></th>
								<th><a>Start - End Date</a></th>								
								<th><a>Activity Name</a></th>
								<th><a>From - To (Age)</a></th>
								<th><a data-sort="amount">Amount</a></th>
								<th><a>Slots Remaining</a></th>
								<th><a>Duration</a></th>
								<th><a>Description</a></th>
								<th><a>Delete</a></th>
								<th><a>Edit</a></th>
							</tr>
						</thead>
						<tbody ng-repeat="activity in centreActivities">
							<tr>
								<td>{{$index+1}}</td>
								<td>{{activity.dayData}}</td>
								<td>{{activity.inTime | date:'hh:mm a'}} - {{activity.outTime | date:'hh:mm a'}}</td>
								<td>{{activity.startDate}} - {{activity.endDate}}</td>
								<td>{{activity.activityName}}</td>
								<td>{{activity.fromAge}} - {{activity.toAge}} years</td>
								<td>{{activity.amount}}</td>
								<td>{{activity.totalSlots}}</td>
								<td>{{activity.duration}}</td>
								<td>{{activity.classDescription}}</td>
												<td><a title="Delete" data-toggle="modal"
													data-target="#myModal_{{activity.centreActivityId}}" aria-label="Delete">
														<button class="btn btn-danger btn-simple btn-xs">
															<i class="icon-trash-1"></i>
														</button>
												</a></td>
												<td><a title="Update" ng-click="updateActivityButton(activity)" data-toggle="modal"
													data-target="#myModal_edit_{{activity.centreActivityId}}" aria-label="Update"><button
																	class="btn btn-info btn-simple btn-xs">
																	<i class="icon-pencil-1"></i></button></a></td>
												<!-- <td><a title="Edit" data-toggle="modal"
													data-target="#myModal_{{activity.id}}" aria-label="Edit">
														<button class="btn btn-success btn-simple btn-xs">
															<i class="fa fa-check"></i>
														</button>
												</a></td> -->
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<div  ng-show="myCentreState === 'bookings'" my-centre-frame 
	template-path="app/modules/my-centre/views/my-centre-bookings.html"></div>
	
	<div ng-show="myCentreState === 'create'" my-centre-frame 
	template-path="app/modules/my-centre/views/create-my-centre.html"></div>		

	<div ng-show="myCentreState === 'editCentre'" my-centre-frame 
	template-path="app/modules/my-centre/views/edit-my-centre.html"></div>
	
	<div ng-show="myCentreState === 'images'" my-centre-frame 
	template-path="app/modules/my-centre/views/my-centre-images.html"></div>

	<div ng-show="myCentreState === 'addActivity'" my-centre-frame 
	template-path="app/modules/my-centre/views/add-my-centre-activity.html"></div>
	
</div>
<div ng-include src="'app/modules/commons/views/footer.html'"></div>
<div ng-repeat="activity in centreActivities">
		<div class="modal fade" 
			id="myModal_{{activity.centreActivityId}}" role="dialog" style="margin-top:50px;">
			<div class="modal-dialog modal-lg">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Delete the Activity Class - {{activity.activityName}}</h4>
					</div>
					<div class="modal-body">
						<h4>Activity Class Details</h4>
						<table class="table table-striped">
										<thead>
											<tr>
												<th><a>Days</a></th>
												<th><a data-sort="in_time">From - To (Time)</a></th>
												<th><a>Start - End Date</a></th>								
												<th><a>Activity Name</a></th>
												<th><a>From - To (Age)</a></th>
												<th><a data-sort="amount">Amount</a></th>
												<th><a>Slots Remaining</a></th>
												<th><a>Duration</a></th>
												<th><a>Description</a></th>												
											</tr>
										</thead>
										<tbody>
											<tr>												
												<td>{{activity.dayData}}</td>
												<td>{{activity.inTime | date:'hh:mm a'}} - {{activity.outTime | date:'hh:mm a'}}</td>
												<td>{{activity.startDate}} - {{activity.endDate}}</td>
												<td>{{activity.activityName}}</td>
												<td>{{activity.fromAge}} - {{activity.toAge}} years</td>
												<td>{{activity.amount}}</td>
												<td>{{activity.totalSlots}}</td>
												<td>{{activity.duration}}</td>
												<td>{{activity.classDescription}}</td>
											</tr>
										</tbody>
									</table>
						
						
						<p>Do you want to delete {{activity.activityName}}?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal"
							ng-click="deleteActivityFromCentre(activity.centreActivityId)">Yes</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
	</div>
<div my-centre-frame template-path="app/modules/my-centre/views/update-my-centre-activities.html"></div>