<div ng-repeat="activity in centreActivities">
		<div data-backdrop="false" class="modal fade"
			id="myModal_edit_{{activity.centreActivityId}}" role="dialog" style="margin-top:50px;">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Edit Activity Class - {{activity.activityName}}</h4>
					</div>
					<div class="modal-body">
						<div class="panel-body">
											<div class="row">
												<div class="col-sm-4">
													<div class="form-group field-bscenteractivity-0-day">
														<label class="control-label" for="bscenteractivity-0-day">Days Offered <span style="color:red;font-weight:bold;">(Use Ctrl for selecting multiple)</span></label>
														<select multiple ng-model="day" id="bscenteractivity-0-day" class="form-control">

															<option value="Monday">Monday</option>
															<option value="Tuesday">Tuesday</option>
															<option value="Wednesday">Wednesday</option>
															<option value="Thursday">Thursday</option>
															<option value="Friday">Friday</option>
															<option value="Saturday">Saturday</option>
															<option value="Sunday">Sunday</option>
															<option value="Weekends">Weekends</option>
															<option value="All Weekdays">All Weekdays</option>
															<option value="All Days">All Days</option>
														</select>
														<div class="help-block"></div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group field-bscenteractivity-0-in_time">
														<label class="control-label"
															for="bscenteractivity-0-in_time">Time (From)</label> 
															<input ng-model="inTime" type="time"  placeholder="yyyy-MM-dd HH:mm:ss" min="2001-01-01T00:00:00" class="form-control">
														<h6 ng-show="inTimeInvalid">Invalid From Time</h6>
														<div class="help-block"></div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group field-bscenteractivity-0-out_time">
														<label class="control-label" for="bscenteractivity-0-out_time">Until</label> 
														<input ng-model="outTime" type="time" class="form-control"  placeholder="yyyy-MM-ddTHH:mm:ss" min="2001-01-01T00:00:00" max="2018-12-31T00:00:00" >
														<h6 ng-show="outTimeInvalid">Invalid out time</h6>
														<div class="help-block"></div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group field-bscenteractivity-0-activity_id required">
														<label class="control-label" for="bscenteractivity-0-activity_id">Start Date</label> 
															<input ng-model="startDate" type="date" class="form-control" >
															<h6 ng-show="startDateUndefined">Invalid start Date</h6>
														<div class="help-block"></div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group field-bscenteractivity-0-activity_id required">
														<label class="control-label" for="bscenteractivity-0-activity_id">End Date</label> 
														<input ng-model="endDate" type="date" class="form-control">
															<h6 ng-show="endDateUndefined">Invalid end Date</h6>												
														<div class="help-block"></div>
													</div>
												</div>
												<div class="col-sm-4">
													<div
														class="form-group field-bscenteractivity-0-activity_id required">
														<label class="control-label" for="bscenteractivity-0-activity_id">Activity</label> 
															<select ng-options="activity.id as activity.activityName for activity in activityData" ng-model="getActivity"
													class="form-control">
															<option style="display:none" value="">Select Activity</option>
														</select>
														<div class="help-block"></div>
													</div>
												</div>
												<div class="col-sm-4">
													<div
														class="form-group field-bscenteractivity-0-age_group_id">
														<label class="control-label" for="bscenteractivity-0-age_group_id">From Age</label> 
														<select  ng-model="fromAge" id="bscenteractivity-0-age_group_id" class="form-control">
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
															<option value="6">6</option>
															<option value="7">7</option>
															<option value="8">8</option>
															<option value="9">9</option>
															<option value="10">10</option>
															<option value="11">11</option>
															<option value="12">12</option>
															<option value="13">13</option>
															<option value="14">14</option>
															<option value="15">15</option>
															<option value="16">16</option>
														</select>
														<div class="help-block"></div>
													</div>
												</div>
												<div class="col-sm-4">
													<div
														class="form-group field-bscenteractivity-0-to_age_group_id">
														<label class="control-label" for="bscenteractivity-0-to_age_group_id">To Age</label> 
														<select  ng-model="toAge" id="bscenteractivity-0-to_age_group_id"
															class="form-control">
															
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
															<option value="6">6</option>
															<option value="7">7</option>
															<option value="8">8</option>
															<option value="9">9</option>
															<option value="10">10</option>
															<option value="11">11</option>
															<option value="12">12</option>
															<option value="13">13</option>
															<option value="14">14</option>
															<option value="15">15</option>
															<option value="16">16</option>
														</select>
														<div class="help-block"></div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group field-bscenteractivity-0-amount">
														<label class="control-label">Amount</label>
														<input  ng-model="amount" type="number" class="form-control">
														<div class="help-block"></div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group field-bscenteractivity-0-amount">
														<label class="control-label">Total Slots</label>
														<input  ng-model="totalSlots" type="number" class="form-control">
														<div class="help-block"></div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group field-bscenteractivity-0-duration">
														<label class="control-label">Duration</label>
														<select  ng-model="duration" id="bscenteractivity-0-to_age_group_id"
															class="form-control">
															<option value="1 Day">1 Day</option>
															<option value="1 week">1 Week</option>
															<option value="2 Weeks">2 Weeks</option>
															<option value="3 Weeks">3 Weeks</option>
															<option value="1 Month">1 Month</option>
															<option value="2 Months">2 Months</option>
															<option value="3 Months">3 Months</option>
															<option value="4 Months">4 Months</option>
															<option value="5 Months">5 Months</option>
															<option value="6 Months">6 Months</option>
															<option value="9 Months">9 Months</option>
															<option value="1 Year">1 Year</option>
														</select>
														<div class="help-block"></div>
													</div>
												</div>
												<div class="col-sm-12">
													<div class="form-group field-class-description">
														<label class="control-label">Class Description</label>
														<textarea class="form-control" rows="3"  ng-model="classDescription"></textarea>
														<div class="help-block"></div>
													</div>
												</div>
											</div>
										</div>						
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" 
							ng-click="updateActivity(getActivity,inTime,outTime,day,fromAge,toAge,totalSlots,duration,classDescription,amount,startDate,endDate)">Update Activity</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
	</div>